.center1 {

  display: inline;
  display: flex; 
  justify-content: center;

  } 
  
.center2 {

  display: block;
  margin : auto;
  
  } 

.responsive {
  width: 100%;
  height: auto;
}
  
.card-center {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  border:1px solid rgb(255, 255, 255);
  width : 400px;
  width: 22rem;
}

h1{
  text-align:center;
  background:linear-gradient (
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:-webkit-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:    -moz-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:     -ms-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:      -o-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  }
  
  h1 span{
  background:#fff;padding:0 20px;
  } 

  .btn-dark {
    background: #5f5f5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #838383, #5f5f5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #838383, #5f5f5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-rounded {
    border-radius: 35px;
}

.btn-fab {
    height: 50px;
    width: 53px;
    border-radius: 50%;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  } 
