#scroll-up {
      position:fixed;
      bottom:10px;
      right: 15px;
      opacity:0.8;
  }
  
#scroll-up a img {
      width:48px;
      height:48px;
  }

.center1 {

  display: inline;
  display: flex; 
  justify-content: center;

  } 
.center2 {

  display: block;
  margin : auto;
  
  } 

.responsive {
  width: 100%;
  height: auto;
}
  
.card-center {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  border:1px solid rgb(255, 255, 255);
  width : 400px;
  width: 22rem;
}

h1{
  text-align:center;
  background:linear-gradient (
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:-webkit-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:    -moz-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:     -ms-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  background:      -o-linear-gradient(
  #fff 0%,
  #fff 45%,
  #696969 46%,
  #696969 54%,  
  #fff 54%,
  #fff 100%);
  }
  h1 span{
  background:#fff;padding:0 20px;
  }